*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background: #2e2e31;
}

.picture {
  width: auto;
  height: auto;
}

.container{
    max-width: 100%;
    max-height: 100%;
    justify-content:  center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 28%;
    left: 40%;
    padding-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
  margin: 1px 1px;
  scale: 0.8;
}



.timeDisplay{
    position: relative;
    max-width: 70%;
    min-height: 20%;
    background-image: linear-gradient(to right, #00b09b, #96c93d);
    background-repeat: no-repeat;
     font-family: 'Roboto mono',monospace;
    color: #0c0c0c;
    font-size: 3rem;
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    top: 21.6rem;
   left: 4.4rem;
   box-sizing: border-box;
   border: 10px solid rgb(26, 25, 25); 
   letter-spacing: 0px;
   transform: scalex(.93) scaleY(1.2);
   font-weight:bold;
}



.img-container {
  display: inline-block;
  position: relative;
 
}

.img-container .buttons {
  position: absolute;
  top: 19%

  
}


.buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.buttons button{
    width: 89px;
    height: 47px;
    
    color: #ffffff;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: solid rgb(26, 25, 25) 5px;

   
}


  #start{
    transform: rotate(-37deg);
    position: relative; 
    left:-0.2em;
    bottom:-.2em;
    background-color: #205e94;
    
    
  }

  #stop{
    position:relative;
    top: -3em;
    left: 1.55rem;
    background-color: #ce1b1b;
  }

  #reset{
    transform: rotate(37deg);
    position: relative; 
    right:-3.2em;
    bottom:-.2em;
    background-color: #20b380;
  }

#start:hover {
  transform: scale(1.1) rotate(-37deg); 
}
 
#stop:hover {
  transform: scale(1.1);
}
 
#reset:hover {
  transform: scale(1.1) rotate(37deg);
}